__pycache__/*
__pycache__/
*/__pycache__/*
*/__pycache__/
/analysis
data
.DS_Store
equity.csv
*.ipynb_checkpoints
*.csv
archive
*.log
bat_scripts
notebooks/data/candles/
/PnLData
/logs
/notebooks
.vscode
.ipynb_checkpoints